<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Habitica Client</title>
  <base href="<%= APP_BASE %>">
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="stylesheet" href="//fonts.googleapis.com/icon?family=Material+Icons">

  <!-- inject:css -->
  <!-- endinject -->
</head>
<body>

  <habitrpg>Loading...</habitrpg>

  <!-- inject:js -->
  <!-- endinject -->

  <script src="<%= APP_BASE %>init.js?v=<%= VERSION %>"></script>

</body>
</html>
